element.style {
    background-color: black;
    color: rgb(255, 255, 255);
}
body {
    background-color: black;
    color: rgb(255, 255, 255);
}
#services #circle-services .circle-item-1 p {
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-size: 1.5em;
  }
  #services #circle-services .circle-item-2 p {
    font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-size: 1.5em;
  }
  #services #circle-services .circle-item-3 p {
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
    font-size: 1.5em;
  }
  #services #circle-services .circle-item-4 p {
    font-family: "PT Sans Narrow", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 1.5em;
  }
  #services #circle-services .circle-item-5 p {
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-size: 1.5em;
  }
  

.plashka {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px;
}
.plashka .logo {
    margin-left: 20px;
}
.plashka .logo img {
    width: 60px;
}
.plashka .social-media-container .social-media-inst img {
    width: 35px;
}
.plashka .social-media-container .social-media-tg img {
  margin-top: 5px;
  width: 30px;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
}
#header {
    display: flex;
    background-image: url(image/mac.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    text-align: center;
    align-items: start;
}
.btn {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 10px 24px;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-class {
    width: 50%;
}
.service-item {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    margin: 10px auto;
}
#circle-services {
    height: 360px;
}
#bottom-circle {
    margin-top: 200px;
}
@media (max-width: 992px) {
  #circle-services {
    margin-right: 50px;
  }
}
@media (max-width: 950px) {
  .service-item {
    width: 95px;
    height: 95px;
  }
  #circle-services {
    margin-right: auto;
    height: 300px;
  }
  #services #circle-services .circle-item-1 p {
    font-size: 1em;
  }
  #services #circle-services .circle-item-2 p {
    font-size: 1em;
  }
  #services #circle-services .circle-item-3 p {
    font-size: 1em;
  }
  #services #circle-services .circle-item-4 p {
    font-size: 1em;
  }
  #services #circle-services .circle-item-5 p {
    font-size: 1em;
  }
  #services #circle-services .circle-item-6 p {
    font-size: 1em;
  }
}
@media (max-width: 767px) {
  #circle-services {
    height: 450px;
  }
  #bottom-circle {
    margin-top: 10px;
  }
}
